body {
  margin: 0;
}
nav{
  display: flex;
  padding: 20px;
  width: 100%;
  background-color: #222525;
}

.logo{
color: white;
margin: auto;
}
.searchBar{
  margin: 30px;
  text-align: center;
}
.input{
  padding: 10px;
  border-radius: 8px;
  border-width: 1px;
}
.submit {

  cursor: pointer;
  padding: 10px;
  margin: 15px ;
  border-radius: 10px;
  border-width: 1px;
  transition-duration: 0.3s;

}
.submit:hover {
  
  color:  white;
}
.GIFS {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.loader{
  color: blue;
}


