body {
  margin: 0;
}
nav{
  text-align: center;
  padding: 20px;
  width: 100%;
  background-color: #222525;
}

.logo{
color: white;
margin: auto;
}
.searchBar{
  margin: 30px;
  text-align: center;
}
.input{
  padding: 10px;
  border-radius: 8px;
  border-width: 1px;
}
.submit {
  cursor: pointer;
  padding: 10px;
  margin: 15px ;
  border-radius: 10px;
  border-width: 1px;
  border: none;
  transition-duration: 0.3s;

}
.submit:hover {
  color: white;
}
.GIFS{
  padding: 10px;
  margin: 5px;
  border-radius: 16px;
  background-color: #E7E7E7;
}

.imgs{
  width: 200px;
  height: 200px;
  border-radius: 12px;
}


.loader{
  color: blue;
}

.data{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}


